/* page wrapper */
#home {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* avatar picture */
#okerekeAvatar {
  height: 23vh;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./asset/okerekeAvatar1.png);
  animation-name: toggleAvatar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 0;
}
/* avatar mouth changing affect */
@keyframes toggleAvatar {
  10% {
    background-image: url(./asset/okerekeAvatar3.png);
  }
  20% {
    background-image: url(./asset/okerekeAvatar2.png);
  }
  30% {
    background-image: url(./asset/okerekeAvatar1.png);
  }
  40% {
    background-image: url(./asset/okerekeAvatar4.png);
  }
  50% {
    background-image: url(./asset/okerekeAvatar5.png);
  }
  60% {
    background-image: url(./asset/okerekeAvatar3.png);
  }
  70% {
    background-image: url(./asset/okerekeAvatar2.png);
  }
  80% {
    background-image: url(./asset/okerekeAvatar1.png);
  }
  90% {
    background-image: url(./asset/okerekeAvatar4.png);
  }
  100% {
    background-image: url(./asset/okerekeAvatar5.png);
  }
}
/* bold title  (hey there am okereke) */
.textAvatar {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2.8em;
  color: #b2c4ce;
  font-weight: bolder;
  height: 5em;
}
/* text with typing animation */
.textAvatar span {
  font-weight: lighter;
  color: #b2c4ce;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* explore button */
.exploreButton {
  animation-name: exploreButton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 0.5em;
  margin-bottom: -1.5em;
  background-color: #2d12c5;
  color: #ffffff;
  font-weight: 900;
  --width: 130px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateY(45deg);
}
/* hidden white background on explore button */
.exploreButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  left: -100%;
  transition: 0.5s;
}
/*explore button white  slide effect */
.exploreButton:hover::before {
  left: 50%;
}
/* explore button rotation effect 
@keyframes exploreButton {
  0% {
    transform: perspective(500px) rotateY(-45deg);
  }

  50% {
    transform: perspective(500px) rotateY(45deg);
  }
}  */
/* alignment of avatar picture to fit smallar screens (personal preference, not important) */
@media only screen and (max-height: 440px) {
  #home {
    margin-top: 0;
  }
}

/* media queries for desktop view */
@media screen and (min-width: 749px) {
  /* page wrapper */
  #home {
    margin-left: 20em;
  }

  /* bold title  (hey there am okereke) */
  .textAvatar {
    font-size: 3vw;
  }
  /* avatar picture */
  #okerekeAvatar {
    height: 30vh;
    width: 100%;
    margin-top: 0;
  }
  /* explore button */
  .exploreButton {
    margin-top: -3em;
    --width: 150px;
  }
}
